@import '../../styles/variables';

.aboutUs {
	min-height: 520px;
	background-color: $white;
	p {
		padding-top: 30px;
		margin: 0 auto;
		text-align: center;
		width: 590px;
		font-size: 14px;
		font-weight: 400;
		line-height: normal;
	}
	&__pt40 {
		padding-top: 40px !important;
	}
}

.ourBest {
	padding-bottom: 110px;
	min-height: 385px;
	background: url(../../../public/img/ourBest-min.jpg) center center/cover;
}

.cardWrapper {
	padding-top: 40px;
	display: flex;
	flex-wrap: wrap;
	column-gap: 70px;
	row-gap: 60px;
	justify-content: center;
	align-items: center;
}

.footer {
	height: 150px;
	background-color: $white;
}

.pt10 {
	padding-top: 10px;
}
