@import '../../../styles/variables';

.header {
	min-height: 640px;
	background: url(../../../../public/img/header/headerBg-min.jpg) center center/cover
		no-repeat;
	&__title {
		color: $white;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		font-size: 40px;
		font-weight: 700;
		padding-top: 110px;
		text-align: center;
	}
}
.p35 {
	padding-top: 35px;
	color: $white;
}

.white {
  padding-top: 20px;
	color: $white;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0 auto;
	width: 120px;
	height: 30px;
	border-radius: 3px;
	border: 1px solid #fff;
	background: rgba(196, 196, 196, 0);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Merienda;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
		background-color: lighten($color: #a8a299e1, $amount: 5%);
	}
	&:active {
		background: darken($color: #a8a299, $amount: 5%);
    transform: translateY(1px);
    box-shadow: none;
	}
}

.aboutUs {
	min-height: 520px;
	background-color: $white;
	p {
		padding-top: 30px;
		margin: 0 auto;
		text-align: center;
		width: 590px;
		font-size: 14px;
		font-weight: 400;
		line-height: normal;
	}
	&__pt40 {
		padding-top: 40px !important;
	}
}

.ourBest {
	padding-bottom: 110px;
	min-height: 385px;
	background: url(../../../../public/img/ourBest-min.jpg) center center/cover;
}

.cardWrapper {
	padding-top: 40px;
	display: flex;
	flex-wrap: wrap;
	column-gap: 70px;
	row-gap: 60px;
	justify-content: center;
	align-items: center;
}