@import '../../styles//variables';

.navigation {
	display: flex;
	color: $white;
	padding-top: 30px;
	&__links {
		display: flex;
		gap: 40px;
		align-items: flex-end;
	}
	&__link {
		cursor: pointer;
		&:hover {
			color: #a8a299;
		}
	}
}

.navigationDark {
	display: flex;
	color: $dark;
	padding-top: 30px;
  justify-content: center;
}
